config.cache
config.log
config.status
docs/sxid.1
docs/sxid.conf.5
src/config.h
Makefile
src/sxid
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
src/.deps/
src/stamp-h1
*.o
*.in
*.tar.gz
*~
