config.cache
config.log
config.status
docs/sxid.1
docs/sxid.conf.5
source/config.h
Makefile
source/sxid
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
source/.deps/
source/stamp-h1
*.o
*.in
*.tar.gz
*~
